@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html {
  font-family: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary: rgb(24 24 27);
  --border: rgba(36, 36, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39 39 42);
  --blue: rgb(93 188 252);
  --ButtonBG: rgba(36, 37, 46, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
